<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>社員詳細</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>社員詳細</h1>
	<h2 th:each="employee : ${employee}" th:text="${employee.name}"></h2>
	<form th:action="clock" method="post">
		<input type="hidden" th:each="employee : ${employee}" th:name="employee_id" th:value="${employee.id}">
		<input type="submit" th:name="button" th:value="出勤">
		<input type="submit" th:name="button" th:value="休憩開始">
		<input type="submit" th:name="button" th:value="休憩終了">
		<input type="submit" th:name="button" th:value="退勤">
	</form>
	<div th:if="${not #lists.isEmpty(clock)}">
		<table border="1">
			<tr>
				<th>出勤日時</th>
				<th>休憩開始日時</th>
				<th>休憩終了日時</th>
				<th>退勤日時</th>
			</tr>
			<tr th:each="clock : ${clock}">
				<td th:text="${clock.clock_in}"></td>
				<td th:text="${clock.break_start}"></td>
				<td th:text="${clock.break_end}"></td>
				<td th:text="${clock.clock_out}"></td>
			</tr>
		</table>
	</div>
	<form th:action="showListEmployee" method="get">
		<input type="submit" value="社員一覧へ">
	</form>
</body>

</html>